body {
  /*background-color: #ddd;*/
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*.name-prompt{
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	background-color: #eee;
	z-index: 2;
	padding: 10px;
}*/


.checkbox label {
    margin-right: 10px;
}
form {
    margin-bottom: 0px;
}
.btn-play,
.btn-settings,
.btn-spectate {
    display: block;
    height: 35px;
}
.btn-play {
    width: 85%;
    float: left;
}
.btn-settings {
    width: 13%;
    float: right;
}
.btn-spectate {
    display: block;
    float: right;
}
#adsBottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
#adsBottomInner {
    margin: 0px auto;
    width: 728px;
    height: 90px;
    border: 5px solid white;
    border-radius: 5px 5px 0px 0px;
    background-color: #FFFFFF;
    box-sizing: content-box;
}
.region-message {
    display: none;
    margin-bottom: 12px;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}
#nick,
#locationKnown #region {
    width: 65%;
    float: left;
}
#locationUnknown #region {
    margin-bottom: 15px;
}
#gamemode,
#spectateBtn {
    width: 33%;
    float: right;
}
#helloDialog {
    width: 350px;
    background-color: #FFFFFF;
    margin: 10px auto;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#a300x250 {
    width: 300px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#title{
	background-color:#FFFFFF;
	text-align:center;
	height: 10%;
	
	border-radius: 0px 0px 100px 100px;
	padding-top:1%;
	padding-bottom:6%;
	
}

#bottom{
	background-color:#FFFFFF;
	/*text-align:center;
	align-content:center;*/
	font-size: 12px;
	
	border-radius: 100px 100px 0px 0px;
	/*padding-top:1%;
	padding-bottom:1%;
	padding-left:0
	margin-left: auto;
	margin-right: auto;*/
	
	position: fixed;
  bottom: 0;
  width:100%;
	height: 10%;
	text-align: left;
}

#instructions {
	font-size: 10px;
	padding: 0;
	/*height: 300px;
	padding: 0;
	margin: 0;*/
}

#controls {
	text-align: left;
	border: 1px solid red;
	width: 60%;
	height: 100px;
	margin: auto;
	margin-left: 40%;
	margin-bottom: 0;
	padding: auto;
	padding-left: auto;
}

#warning {
	text-align: center;
	padding: 0;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#messages li {
	opacity: .9;
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background-color: #4c4c4c;
	color: #ffffff;
}
#messages li:nth-child(even) {
	background-color: #707070;
	color: #ffffff;
}
div.chat {
	position: absolute;
	top: 0;
	right: 0px;
	width: 350px;
	height: 500px;
}
ul#messages {
	overflow: auto;
	height: 95%;
}
input#msgIn {
	position: absolute;
	bottom: 0px;
	width: 66.66%;
}
button#send {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 33.33%;
}